<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com"><link rel="preconnect" href="https://fonts.gstatic.com" crossorigin><link href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap" rel="stylesheet">
    <style> @import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap'); </style>
    <link rel="stylesheet" href="./../views/style/style.css">
    <link rel="stylesheet" href="./../views/style/about.css">
    <title>Golden Circle</title>
</head>
<body>
    <header>
        <div class="nav">
            <img src="./../public/assets/logo.png" class="logo"></img>
            <div class="nav-item">
                <ul class="navigation">
                    <li class="navigation-item">
                        <a href="/views/index.html" class="nav-link">Home</a>
                    </li>
                    <li class="navigation-item">
                        <a href="/views/products.html" class="nav-link">Jewelry</a>
                    </li>
                    <li class="navigation-item">
                        <a href="/views/promotions.html" class="nav-link">Promotions</a>
                    </li>
                    <li class="navigation-item">
                        <a href="/views/about.html" class="nav-link">About Us</a>
                    </li>
                    <li class="navigation-item">
                        <a href="/views/register.html" class="nav-link">Membership</a>
                    </li>
                </ul>
            </div>
        </div>
    </header>

    <div class="content">
        <div class="top-about">
            <div class="split-text">
                <h1>Get To Know Us!</h1>
                <br>
                <p>Golden Circle established in 1932 in Jakarta, Indonesia has been one of the biggest jewelry store in Indonesia. We always deliver the best quality of jewelry that you can ever find.</p>
                <br>
                <p>Since our founding day, the team consist of professional people always seeks to brings out artistry design for our jewelry design. With the support of our growth technology, we can serve you two kinds of material for your jewelry.</p>
            </div>
            <img src="./../public/assets/undraw_business_deal_re_up4u.svg" alt="">
        </div>
        <div class="mid-about">
            <img src="./../public/assets/undraw_profile_data_re_v81r.svg" alt="" class="contact">
            <div class="mid-wrap">
                <h1>Our Contact Info</h1>
                <p>You can find us here</p>
                <br>
                <ul class="sosmed">
                    <li class="sosmed-icon">
                        <img src="./../public/assets/square-instagram.svg" alt="" class="icon">
                        <a href="https://instagram.com">@golden_circle</a>
                    </li>
                    <br>
                    <li class="sosmed-icon">
                        <img src="./../public/assets/phone-solid.svg" alt="" class="icon">
                        <p>(021)54632002</p>
                    </li>
                    <br>
                    <li class="sosmed-icon">
                        <img src="./../public/assets/envelope-solid.svg" alt="" class="icon">
                        <a href="https://gmail.com">gcircle@gold.com</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <footer>
        <p>Copyright © 2022 Golden Circle, Jakarta</p>
    </footer>
</body>
</html>