<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com"><link rel="preconnect" href="https://fonts.gstatic.com" crossorigin><link href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap" rel="stylesheet">
    <style> @import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap'); </style>
    <link rel="stylesheet" href="./../views/style/style.css">
    <link rel="stylesheet" href="./../views/style/index.css">
    <script src="./../node_modules/jquery/dist/jquery.min.js"></script>
    <title>Golden Circle</title>
</head>
<body>
    <header>
        <div class="nav">
            <div class="nav-item" id="nav-item">
                <img src="./../public/assets/logo.png" class="logo"></img>
                <ul class="navigation">
                    <li class="navigation-item">
                        <a href="/views/index.html" class="nav-link">Home</a>
                    </li>
                    <li class="navigation-item">
                        <a href="/views/products.html" class="nav-link">Jewelry</a>
                    </li>
                    <li class="navigation-item">
                        <a href="/views/promotions.html" class="nav-link">Promotions</a>
                    </li>
                    <li class="navigation-item">
                        <a href="/views/about.html" class="nav-link">About Us</a>
                    </li>
                    <li class="navigation-item">
                        <a href="/views/register.html" class="nav-link">Membership</a>
                    </li>
                </ul>
            </div>
        </div>
        <!--Responsive-->
        <div class="responsive">
            <img src="./../public/assets/logo.png" class="logo-resp"></img>
            <img src="./../public/assets/menu.png" alt="" class="ham-menu" id="hamburger">
        </div>
        <div class="nav-resp" id="nav-resp">
            <ul class="navigation-resp">
                <li class="navigation-item-resp">
                    <a href="/views/index.html" class="nav-link">Home</a>
                </li>
                <li class="navigation-item-resp">
                    <a href="/views/products.html" class="nav-link">Jewelry</a>
                </li>
                <li class="navigation-item-resp">
                    <a href="/views/promotions.html" class="nav-link">Promotions</a>
                </li>
                <li class="navigation-item-resp">
                    <a href="/views/about.html" class="nav-link">About Us</a>
                </li>
                <li class="navigation-item-resp">
                    <a href="/views/register.html" class="nav-link">Membership</a>
                </li>
            </ul>
        </div>
    </header>
    <div class="content">
        <div class="header">
            <h1 class="title">Welcome to Golden Circle Jewelry Store!</h1>
            <h3>Place where you can find the finest jewel</h3>
        </div>
        <h1 class="info">Here you can find some information regarding our store</h1>
        <div class="slide">
            <img src="./../public/assets/angle-left-solid.svg" alt="" class="arrow" id="left">
            <img src="./../public/assets/slide1.webp" alt="" class="slide-img">
            <img src="./../public/assets/slide2.webp" alt="" class="slide-img">
            <img src="./../public/assets/slide4.webp" alt="" class="slide-img">
            <img src="./../public/assets/angle-right-solid.svg" alt="" class="arrow" id="right">
        </div>
    </div>
    <footer>
        <p>Copyright © 2022 Golden Circle, Jakarta</p>
    </footer>
</body>
<script src="./../public/js/navbar.js"></script>
<script src="./../public/js/slide.js"></script>
</html>