<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com"><link rel="preconnect" href="https://fonts.gstatic.com" crossorigin><link href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap" rel="stylesheet">
    <style> @import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap'); </style>
    <link rel="stylesheet" href="./../views/style/style.css">
    <link rel="stylesheet" href="./../views/style/prod.css">
    <script src="./../node_modules/jquery/dist/jquery.min.js"></script>
    <title>Golden Circle | Products</title>
</head>
<body>
    <header>
        <div class="nav">
            <div class="nav-item">
                <img src="./../public/assets/logo.png" class="logo"></img>
                <ul class="navigation">
                    <li class="navigation-item">
                        <a href="/views/index.html" class="nav-link">Home</a>
                    </li>
                    <li class="navigation-item">
                        <a href="/views/products.html" class="nav-link">Jewelry</a>
                    </li>
                    <li class="navigation-item">
                        <a href="/views/promotions.html" class="nav-link">Promotions</a>
                    </li>
                    <li class="navigation-item">
                        <a href="/views/about.html" class="nav-link">About Us</a>
                    </li>
                    <li class="navigation-item">
                        <a href="/views/register.html" class="nav-link">Membership</a>
                    </li>
                </ul>
            </div>
        </div>
        <!--Responsive-->
        <div class="responsive">
            <img src="./../public/assets/logo.png" class="logo-resp"></img>
            <img src="./../public/assets/menu.png" alt="" class="ham-menu" id="hamburger">
        </div>
        <div class="nav-resp" id="nav-resp">
            <ul class="navigation-resp">
                <li class="navigation-item-resp">
                    <a href="/views/index.html" class="nav-link">Home</a>
                </li>
                <li class="navigation-item-resp">
                    <a href="/views/products.html" class="nav-link">Jewelry</a>
                </li>
                <li class="navigation-item-resp">
                    <a href="/views/promotions.html" class="nav-link">Promotions</a>
                </li>
                <li class="navigation-item-resp">
                    <a href="/views/about.html" class="nav-link">About Us</a>
                </li>
                <li class="navigation-item-resp">
                    <a href="/views/register.html" class="nav-link">Membership</a>
                </li>
            </ul>
        </div>
    </header>
    <div class="content">
        <h1>We serve the best for you!</h1>
        <div class="section">
            <!--Yellow Gold Jewelry-->
            <div class="title">
                <h1>Yellow Gold</h1>
                <p>Yellow Gold is our topmost quality jewelry made from 24 karat gold</p>
            </div>
            <div class="items">
                <!--Bracelet-->
                <div class="dropdown">
                    <h2 id="show-hide" class="item-header">Bracelet</h2>  
                    <div class="drop-item" id="drop-item">
                        <div class="item-img">
                            <img src="./../public/assets/ybracelet1.jpg" alt="">
                            <div class="tag">
                                <p>Roundbox Link Bracelet </p>
                                <span>$2400</span>
                            </div>
                        </div>
                        <div class="item-img">
                            <img src="./../public/assets/ybracelet2.jpg" alt="">
                            <div class="tag">
                                <p>Leslie's Cut Bangles </p>
                                <span>$3000</span>
                            </div>
                        </div>
                        <div class="item-img">
                            <img src="./../public/assets/ybracelet3.jpg" alt="">
                            <div class="tag">
                                <p>Solid Gold Bangles </p>
                                <span>$1800</span>
                            </div>
                        </div>
                        <div class="item-img">
                            <img src="./../public/assets/ybracelet4.webp" alt="">
                            <div class="tag">
                                <p>Solid Cuban Link Bracelet </p>
                                <span>$2300</span>
                            </div>
                        </div>
                    </div>
                    <hr>
                </div>

                <!--Ring-->
                <div class="dropdown">
                    <h2 id="show-hide" class="item-header">Ring</h2>
                    <div class="drop-item" id="drop-item">
                        <div class="item-img">
                            <img src="./../public/assets/yring1.jpg" alt="">
                            <div class="tag">
                                <p>AR Ring </p>
                                <span>$2000</span>
                            </div>
                        </div>
                        <div class="item-img">
                            <img src="./../public/assets/yring2.png" alt="">
                            <div class="tag">
                                <p>Square Signet Ring </p>
                                <span>$3000</span>
                            </div>
                        </div>
                        <div class="item-img">
                            <img src="./../public/assets/yring3.png" alt="">
                            <div class="tag">
                                <p>Gold Pinky Signet Ring </p>
                                <span>$1600</span>
                            </div>
                        </div>
                        <div class="item-img">
                            <img src="./../public/assets/yring4.png" alt="">
                            <div class="tag">
                                <p>Gold Tungsten Ring </p>
                                <span>$2700</span>
                            </div>
                        </div>
                    </div>
                    <hr>
                </div>

                <!--Earring-->
                <div class="dropdown">
                    <h2 id="show-hide" class="item-header">Earring</h2>
                    <div class="drop-item" id="drop-item">
                        <div class="item-img">
                            <img src="./../public/assets/year1.jpg" alt="">
                            <div class="tag">
                                <p>Long Teardrop Earrings </p>
                                <span>$990</span>
                            </div>
                        </div>
                        <div class="item-img">
                            <img src="./../public/assets/year2.jpg" alt="">
                            <div class="tag">
                                <p>Gold Dangle Earrings </p>
                                <span>$1100</span>
                            </div>
                        </div>
                        <div class="item-img">
                            <img src="./../public/assets/year3.jpg" alt="">
                            <div class="tag">
                                <p>Gold Twist Earrings </p>
                                <span>$1050</span>
                            </div>
                        </div>
                        <div class="item-img">
                            <img src="./../public/assets/year4.png" alt="">
                            <div class="tag">
                                <p>Gold Heart Earrings </p>
                                <span>$800</span>
                            </div>
                        </div>
                    </div>
                    <hr>
                </div>

                <!--Necklace-->
                <div class="dropdown">
                    <h2 id="show-hide" class="item-header">Necklace</h2>
                    <div class="drop-item" id="drop-item">
                        <div class="item-img">
                            <img src="./../public/assets/yneck1.png" alt="">
                            <div class="tag">
                                <p>Curb Chain Necklace </p>
                                <span>$2200</span>
                            </div>
                        </div>
                        <div class="item-img">
                            <img src="./../public/assets/yneck2.png" alt="">
                            <div class="tag">
                                <p>Rolo Chain Necklace </p>
                                <span>$1800</span>
                            </div>
                        </div>
                        <div class="item-img">
                            <img src="./../public/assets/yneck3.png" alt="">
                            <div class="tag">
                                <p>Figaro Chain Necklace </p>
                                <span>$2000</span>
                            </div>
                        </div>
                        <div class="item-img">
                            <img src="./../public/assets/yneck4.png" alt="">
                            <div class="tag">
                                <p>Tree Pendant Necklace </p>
                                <span>$2500</span>
                            </div>
                        </div>
                    </div>
                    <hr>
                </div>
            </div>

            <!--White Gold Jewelry-->
            <div class="wrapper">
                <div class="title">
                    <h1>White Gold</h1>
                    <p>White Gold is our specialty made jewelry from 24 karat gold infused with titanium compound and brilliant diamond for the best appearance and quality</p>
                </div>
                <div class="items">
                    <!--Bracelet-->
                    <div class="dropdown">
                        <h2 id="show-hide" class="item-header">Bracelet</h2>
                        <div class="drop-item" id="drop-item">
                            <div class="item-img">
                                <img src="./../public/assets/bracelet1.webp" alt="">
                                <div class="tag">
                                    <p>Candace Bangles</p>
                                    <span>$xx</span>
                                </div>
                            </div>
                            <div class="item-img">
                                <img src="./../public/assets/bracelet1.webp" alt="">
                                <div class="tag">
                                    <p>Candace Bangles</p>
                                    <span>$xx</span>
                                </div>
                            </div>
                            <div class="item-img">
                                <img src="./../public/assets/bracelet1.webp" alt="">
                                <div class="tag">
                                    <p>Candace Bangles</p>
                                    <span>$xx</span>
                                </div>
                            </div>
                            <div class="item-img">
                                <img src="./../public/assets/bracelet1.webp" alt="">
                                <div class="tag">
                                    <p>Candace Bangles</p>
                                    <span>$xx</span>
                                </div>
                            </div>
                        </div>
                        <hr>
                    </div>
    
                    <!--Ring-->
                    <div class="dropdown">
                        <h2 id="show-hide" class="item-header">Ring</h2>
                        <div class="drop-item" id="drop-item">
                            <div class="item-img">
                                <img src="./../public/assets/ring1.jpeg" alt="">
                                <div class="tag">
                                    <p>The Palace</p>
                                    <span>$xx</span>
                                </div>
                            </div>
                            <div class="item-img">
                                <img src="./../public/assets/ring1.jpeg" alt="">
                                <div class="tag">
                                    <p>The Palace</p>
                                    <span>$xx</span>
                                </div>
                            </div>
                            <div class="item-img">
                                <img src="./../public/assets/ring1.jpeg" alt="">
                                <div class="tag">
                                    <p>The Palace</p>
                                    <span>$xx</span>
                                </div>
                            </div>
                            <div class="item-img">
                                <img src="./../public/assets/ring1.jpeg" alt="">
                                <div class="tag">
                                    <p>The Palace</p>
                                    <span>$xx</span>
                                </div>
                            </div>
                        </div>
                        <hr>
                    </div>
    
                    <!--Earring-->
                    <div class="dropdown">
                        <h2 id="show-hide" class="item-header">Earring</h2>
                        <div class="drop-item" id="drop-item">
                            <div class="item-img">
                                <img src="./../public/assets/earring1.webp" alt="">
                                <div class="tag">
                                    <p>Marquise Drop</p>
                                    <span>$xx</span>
                                </div>
                            </div>
                            <div class="item-img">
                                <img src="./../public/assets/earring1.webp" alt="">
                                <div class="tag">
                                    <p>Marquise Drop</p>
                                    <span>$xx</span>
                                </div>
                            </div>
                            <div class="item-img">
                                <img src="./../public/assets/earring1.webp" alt="">
                                <div class="tag">
                                    <p>Marquise Drop</p>
                                    <span>$xx</span>
                                </div>
                            </div>
                            <div class="item-img">
                                <img src="./../public/assets/earring1.webp" alt="">
                                <div class="tag">
                                    <p>Marquise Drop</p>
                                    <span>$xx</span>
                                </div>
                            </div>
                        </div>
                        <hr>
                    </div>
    
                    <!--Necklace-->
                    <div class="dropdown">
                        <h2 id="show-hide" class="item-header">Necklace</h2>
                        <div class="drop-item" id="drop-item">
                            <div class="item-img">
                                <img src="./../public/assets/necklace1.webp" alt="">
                                <div class="tag">
                                    <p>Crescent Moon</p>
                                    <span>$xx</span>
                                </div>
                            </div>
                            <div class="item-img">
                                <img src="./../public/assets/necklace1.webp" alt="">
                                <div class="tag">
                                    <p>Crescent Moon</p>
                                    <span>$xx</span>
                                </div>
                            </div>
                            <div class="item-img">
                                <img src="./../public/assets/necklace1.webp" alt="">
                                <div class="tag">
                                    <p>Crescent Moon</p>
                                    <span>$xx</span>
                                </div>
                            </div>
                            <div class="item-img">
                                <img src="./../public/assets/necklace1.webp" alt="">
                                <div class="tag">
                                    <p>Crescent Moon</p>
                                    <span>$xx</span>
                                </div>
                            </div>
                        </div>
                        <hr>
                    </div>
                </div> 
            </div>
        </div>
        <br>
    </div>
    <footer>
        <p>Copyright © 2022 Golden Circle, Jakarta</p>
    </footer>
</body>
<script src="./../public/js/hidden.js"></script>
<script src="./../public/js/navbar.js"></script>
</html>