<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com"><link rel="preconnect" href="https://fonts.gstatic.com" crossorigin><link href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap" rel="stylesheet">
    <style> @import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap'); </style>
    <link rel="stylesheet" href="./../views/style/style.css">
    <link rel="stylesheet" href="./../views/style/promo.css">
    <script src="./../node_modules/jquery/dist/jquery.min.js"></script>
    <title>Golden Circle | Promotions</title>
</head>
<body>
    <header>
        <div class="nav">
            <div class="nav-item">
                <img src="./../public/assets/logo.png" class="logo"></img>
                <ul class="navigation">
                    <li class="navigation-item">
                        <a href="/views/index.html" class="nav-link">Home</a>
                    </li>
                    <li class="navigation-item">
                        <a href="/views/products.html" class="nav-link">Jewelry</a>
                    </li>
                    <li class="navigation-item">
                        <a href="/views/promotions.html" class="nav-link">Promotions</a>
                    </li>
                    <li class="navigation-item">
                        <a href="/views/about.html" class="nav-link">About Us</a>
                    </li>
                    <li class="navigation-item">
                        <a href="/views/register.html" class="nav-link">Membership</a>
                    </li>
                </ul>
            </div>
        </div>
        <!--Responsive-->
        <div class="responsive">
            <img src="./../public/assets/logo.png" class="logo-resp"></img>
            <img src="./../public/assets/menu.png" alt="" class="ham-menu" id="hamburger">
        </div>
        <div class="nav-resp" id="nav-resp">
            <ul class="navigation-resp">
                <li class="navigation-item-resp">
                    <a href="/views/index.html" class="nav-link">Home</a>
                </li>
                <li class="navigation-item-resp">
                    <a href="/views/products.html" class="nav-link">Jewelry</a>
                </li>
                <li class="navigation-item-resp">
                    <a href="/views/promotions.html" class="nav-link">Promotions</a>
                </li>
                <li class="navigation-item-resp">
                    <a href="/views/about.html" class="nav-link">About Us</a>
                </li>
                <li class="navigation-item-resp">
                    <a href="/views/register.html" class="nav-link">Membership</a>
                </li>
            </ul>
        </div>
    </header>
    <div class="content">
        <div class="jumbotron">
            <div class="title">
                <h1>Winter Sale Special</h1>
                <h4>Get your premium jewelry now!</h4>
            </div>
        </div>
        <div class="top">
            <div class="section-content">
                <h1>Ring</h1>
                <div class="section">
                    <div class="section-img">
                        <img src="./../public/assets/yring1.jpg" alt="">
                        <div class="tag">
                            <h4>AR Ring</h4>
                            <span>$820 <s>$1000</s></span>
                        </div>
                    </div>
                    <div class="section-img">
                        <img src="./../public/assets/yring3.png" alt="">
                        <div class="tag">
                            <h4>Gold Pinky Signet Ring</h4>
                            <span>$1125 <s>$1450</s></span>
                        </div>
                    </div>
                    <div class="section-img">
                        <img src="./../public/assets/yring4.png" alt="">
                        <div class="tag">
                            <h4>Gold Tungsten Ring</h4>
                            <span>$900 <s>$1450</s></span>
                        </div>
                    </div>
                </div>
            </div>
            <hr>
            <div class="section-content">
                <h1>Necklace</h1>
                <div class="section">
                    <div class="section-img">
                        <img src="./../public/assets/yneck2.png" alt="">
                        <div class="tag">
                            <h4>Rolo Chain Necklace</h4>
                            <span>$1590 <s>$1800</s></span>
                        </div>
                    </div>
                    <div class="section-img">
                        <img src="./../public/assets/yneck4.png" alt="">
                        <div class="tag">
                            <h4>Tree Pendant Necklace</h4>
                            <span>$2250 <s>$2500</s></span>
                        </div>
                    </div>
                    <div class="section-img">
                        <img src="./../public/assets/yneck1.png" alt="">
                        <div class="tag">
                            <h4>Curb Chain Necklace</h4>
                            <span>$2100 <s>$2200</s></span>
                        </div>
                    </div>
                </div>
            </div>
            <hr>
            <div class="section-content">
                <h1>Bracelet</h1>
                <div class="section">
                    <div class="section-img">
                        <img src="./../public/assets/ybracelet1.jpg" alt="">
                        <div class="tag">
                            <h4>Roundbox Link Bracelet</h4>
                            <span>$1250 <s>$1500</s></span>
                        </div>
                    </div>
                    <div class="section-img">
                        <img src="./../public/assets/wbracelet2.jpg" alt="">
                        <div class="tag">
                            <h4>Triple-Row Bracelet</h4>
                            <span>$2315 <s>$2750</s></span>
                        </div>
                    </div>
                    <div class="section-img">
                        <img src="./../public/assets/ybracelet3.jpg" alt="">
                        <div class="tag">
                            <h4>Solid Gold Bangles</h4>
                            <span>$875 <s>$1200</s></span>
                        </div>
                    </div>
                </div>
            </div>
            <hr>
            <div class="section-content">
                <h1>Earring</h1>
                <div class="section">
                    <div class="section-img">
                        <img src="./../public/assets/wear3.jpg" alt="">
                        <div class="tag">
                            <h4>Leverback Dangle</h4>
                            <span>$2000 <s>$2300</s></span>
                        </div>
                    </div>
                    <div class="section-img">
                        <img src="./../public/assets/wear2.jpg" alt="">
                        <div class="tag">
                            <h4>Callista Round Earrings</h4>
                            <span>$2250 <s>$2500</s></span>
                        </div>
                    </div>
                    <div class="section-img">
                        <img src="./../public/assets/year1.jpg" alt="">
                        <div class="tag">
                            <h4>Long Teardrop Earrings</h4>
                            <span>$870 <s>$990</s></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <footer>
        <p>Copyright © 2022 Golden Circle, Jakarta</p>
    </footer>
</body>
<script src="./../public/js/navbar.js"></script>
</html>