<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com"><link rel="preconnect" href="https://fonts.gstatic.com" crossorigin><link href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap" rel="stylesheet">
    <style> @import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap'); </style>
    <link rel="stylesheet" href="./../views/style/style.css">
    <link rel="stylesheet" href="./../views/style/promo.css">
    <title>Golden Circle</title>
</head>
<body>
    <header>
        <div class="nav">
            <img src="./../public/assets/logo.png" class="logo"></img>
            <div class="nav-item">
                <ul class="navigation">
                    <li class="navigation-item">
                        <a href="/views/index.html" class="nav-link">Home</a>
                    </li>
                    <li class="navigation-item">
                        <a href="/views/products.html" class="nav-link">Jewelry</a>
                    </li>
                    <li class="navigation-item">
                        <a href="/views/promotions.html" class="nav-link">Promotions</a>
                    </li>
                    <li class="navigation-item">
                        <a href="/views/about.html" class="nav-link">About Us</a>
                    </li>
                    <li class="navigation-item">
                        <a href="/views/register.html" class="nav-link">Membership</a>
                    </li>
                </ul>
            </div>
        </div>
    </header>
    <div class="content">
        <div class="jumbotron">
            <div class="title">
                <h1>Winter Sale Special</h1>
                <h4>Get your premium jewelry now!</h4>
            </div>
        </div>
        <div class="top">
            <div class="section-content">
                <h1>Ring</h1>
                <div class="section">
                    <div class="section-img">
                        <img src="./../public/assets/ring1.jpeg" alt="">
                        <div class="tag">
                            <h4>The Palace</h4>
                            <span>$90 <s>$120</s></span>
                        </div>
                    </div>
                    <div class="section-img">
                        <img src="./../public/assets/ring1.jpeg" alt="">
                        <div class="tag">
                            <h4>The Palace</h4>
                            <span>$90 <s>$120</s></span>
                        </div>
                    </div>
                    <div class="section-img">
                        <img src="./../public/assets/ring1.jpeg" alt="">
                        <div class="tag">
                            <h4>The Palace</h4>
                            <span>$90 <s>$120</s></span>
                        </div>
                    </div>
                </div>
            </div>
            <hr>
            <div class="section-content">
                <h1>Necklace</h1>
                <div class="section">
                    <div class="section-img">
                        <img src="./../public/assets/necklace1.webp" alt="">
                        <div class="tag">
                            <h4>Crescent Moon</h4>
                            <span>$90 <s>$120</s></span>
                        </div>
                    </div>
                    <div class="section-img">
                        <img src="./../public/assets/necklace1.webp" alt="">
                        <div class="tag">
                            <h4>Crescent Moon</h4>
                            <span>$90 <s>$120</s></span>
                        </div>
                    </div>
                    <div class="section-img">
                        <img src="./../public/assets/necklace1.webp" alt="">
                        <div class="tag">
                            <h4>Crescent Moon</h4>
                            <span>$90 <s>$120</s></span>
                        </div>
                    </div>
                </div>
            </div>
            <hr>
            <div class="section-content">
                <h1>Bracelet</h1>
                <div class="section">
                    <div class="section-img">
                        <img src="./../public/assets/bracelet1.webp" alt="">
                        <div class="tag">
                            <h4>Candace Bangles</h4>
                            <span>$90 <s>$120</s></span>
                        </div>
                    </div>
                    <div class="section-img">
                        <img src="./../public/assets/bracelet1.webp" alt="">
                        <div class="tag">
                            <h4>Candace Bangles</h4>
                            <span>$90 <s>$120</s></span>
                        </div>
                    </div>
                    <div class="section-img">
                        <img src="./../public/assets/bracelet1.webp" alt="">
                        <div class="tag">
                            <h4>Candace Bangles</h4>
                            <span>$90 <s>$120</s></span>
                        </div>
                    </div>
                </div>
            </div>
            <hr>
            <div class="section-content">
                <h1>Earring</h1>
                <div class="section">
                    <div class="section-img">
                        <img src="./../public/assets/earring1.webp" alt="">
                        <div class="tag">
                            <h4>Marquise Drop</h4>
                            <span>$90 <s>$120</s></span>
                        </div>
                    </div>
                    <div class="section-img">
                        <img src="./../public/assets/earring1.webp" alt="">
                        <div class="tag">
                            <h4>Marquise Drop</h4>
                            <span>$90 <s>$120</s></span>
                        </div>
                    </div>
                    <div class="section-img">
                        <img src="./../public/assets/earring1.webp" alt="">
                        <div class="tag">
                            <h4>Marquise Drop</h4>
                            <span>$90 <s>$120</s></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <footer>
        <p>Copyright © 2022 Golden Circle, Jakarta</p>
    </footer>
</body>
</html>