<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com"><link rel="preconnect" href="https://fonts.gstatic.com" crossorigin><link href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap" rel="stylesheet">
    <style> @import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap'); </style>
    <link rel="stylesheet" href="./style/register.css">
    <link rel="stylesheet" href="./style/style.css">
    <script src="./../node_modules/jquery/dist/jquery.min.js"></script>
    <title>Golden Circle | Registration</title>
</head>
<body>
    <header>
        <div class="nav">
            <div class="nav-item">
                <img src="./../public/assets/logo.png" class="logo"></img>
                <ul class="navigation">
                    <li class="navigation-item">
                        <a href="/views/index.html" class="nav-link">Home</a>
                    </li>
                    <li class="navigation-item">
                        <a href="/views/products.html" class="nav-link">Jewelry</a>
                    </li>
                    <li class="navigation-item">
                        <a href="/views/promotions.html" class="nav-link">Promotions</a>
                    </li>
                    <li class="navigation-item">
                        <a href="/views/about.html" class="nav-link">About Us</a>
                    </li>
                    <li class="navigation-item">
                        <a href="/views/register.html" class="nav-link">Membership</a>
                    </li>
                </ul>
            </div>
        </div>
        <!--Responsive-->
        <div class="responsive">
            <img src="./../public/assets/logo.png" class="logo-resp"></img>
            <img src="./../public/assets/menu.png" alt="" class="ham-menu" id="hamburger">
        </div>
        <div class="nav-resp" id="nav-resp">
            <ul class="navigation-resp">
                <li class="navigation-item-resp">
                    <a href="/views/index.html" class="nav-link">Home</a>
                </li>
                <li class="navigation-item-resp">
                    <a href="/views/products.html" class="nav-link">Jewelry</a>
                </li>
                <li class="navigation-item-resp">
                    <a href="/views/promotions.html" class="nav-link">Promotions</a>
                </li>
                <li class="navigation-item-resp">
                    <a href="/views/about.html" class="nav-link">About Us</a>
                </li>
                <li class="navigation-item-resp">
                    <a href="/views/register.html" class="nav-link">Membership</a>
                </li>
            </ul>
        </div>
    </header>
    <div class="content">
        <div class="form-body">
            <div class="logo-wrap">
                <img src="./../public/assets/logo.png" alt="" class="form-logo">
            </div>
            <br>
            <h3>Register Membership</h3>
            <form action="" id="form-fill">
                <!--Name-->
                <div class="form-field">
                    <label for="name" class="labels">Name</label>
                    <input type="text" name="name" id="name" placeholder="Enter your name" 
                    onfocus="this.placeholder = ''"
                    onblur="this.placeholder = 'Enter your name'"
                    class="form-input" autocomplete="off">
                    <small></small>
                </div>
                <!--Email-->
                <div class="form-field">
                    <label for="email" class="labels">Email</label>
                    <input type="email" name="email" id="email" placeholder="Enter your email" 
                    onfocus="this.placeholder = ''"
                    onblur="this.placeholder = 'Enter your email'"
                    class="form-input" autocomplete="off">
                    <small></small>
                </div>
                <!--Password-->
                <div class="form-field">
                    <label for="password" class="labels">Password</label>
                    <input type="password" name="password" id="password" placeholder="Enter password" 
                    onfocus="this.placeholder = ''"
                    onblur="this.placeholder = 'Enter password'"
                    class="form-input" autocomplete="off">
                    <small></small>
                </div>
                <!--Confirm Password-->
                <div class="form-field">
                    <label for="confirm-pwd" class="labels">Confirm password</label>
                    <input type="password" name="confirm-pwd" id="confirm-pwd" placeholder="Confirm your password"
                    onfocus="this.placeholder = ''"
                    onblur="this.placeholder = 'Confirm your password'" class="form-input" autocomplete="off">
                    <small></small>
                </div>
                <div class="form-field">
                    <label for="city" class="labels">City</label>
                    <input type="text" name="city" id="city" placeholder="Enter city" onfocus="this.placeholder = ''"
                    onblur="this.placeholder = 'Enter city'"
                    class="form-input" autocomplete="off">
                    <small></small>
                </div>
                <div class="form-field">
                    <label for="address" class="labels">Address</label>
                    <input name="address" id="address" cols="30" rows="2" placeholder="Enter your address" onfocus="this.placeholder = ''"
                    onblur="this.placeholder = 'Enter your address'" class="form-input" autocomplete="off"></input>
                    <small></small>
                </div>
                <div class="form-field-tos">
                    <input type="checkbox" name="tos" id="tos">
                    <span class="tos">I accept the terms and conditions</span>
                    <small></small>
                </div>
                <div class="form-field">
                    <button type="submit" class="submit-button" id="btn-submit">Register</button>
                </div>
            </form>
        </div>
    </div>
    <footer>
        <p>Copyright © 2022 Golden Circle, Jakarta</p>
    </footer>
</body>
<script src="./../public/js/script.js"></script>
<script src="./../public/js/navbar.js"></script>
</html>