.content {
    margin: 2rem 8rem;
}

.slide-img {
    height: 25rem;
    margin: 0 4rem;
}

.arrow {
    height: 5rem;
}

.slide {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 8rem 0;
}

.info {
    margin: 5rem 0;
}

@media only screen and (max-width: 1200px) {
    .arrow {
        height: 3rem;
    }

    .slide-img {
        height: 20rem;

    }
}

@media only screen and (max-width: 923px) {
    .content {
        margin: 2rem 4rem;
    }
    .slide-img {
        margin: 0 2rem;
        height: 15rem;
    }
}

@media only screen and (max-width: 768px) {
    .arrow {
        height: 2rem;
    }
}