.jumbotron {
    background-image: url(./../../public/assets/1.webp);
    background-size: cover;
    background-repeat: no-repeat;
    height: 40rem;
    display: flex;
    align-items: center;
}

.title {
    padding: 0 8rem;
}

.title > h1 {
    font-size: 3rem;
}

.top {
    margin: 1rem 8rem;
}

.section-content > h1 {
    margin: 1.5rem 0;
}

.section-content {
    margin: 2rem 0;
}

.section {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.tag {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0.5rem 0;
}

.section-img > img {
    height: 15rem;
}

@media only screen and (max-width: 1200px) {
    .jumbotron {
        background-size: contain;
        height: 25rem;
    }

    .title {
        padding: 0 4rem;
    }

    .section-img > img {
        height: 12rem;
    }
}

@media only screen and (max-width: 900px) {
    .jumbotron {
        height: 20rem;
    }

    .section {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }

    .section-img {
        display: flex;
        flex-direction: row;
        align-items: center;
        margin: 1rem 0;
    }

    .section-img > img {
        height: 8rem;
    }

    .tag {
        margin: 0 2rem;
    }

    .tag > span {
        margin: 0 1rem;
    }
}

@media only screen and (max-width: 768px) {
    .jumbotron {
        height: 18rem;
    }
    
    .title {
        padding: 0 2rem;
    }

    .title > h1 {
        font-size: 2.5rem
    }
}